
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

.formulario{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

//TITULO
.caja { 
    font-family: sans-serif; 
    font-size: 30px; 
    font-weight: 400; 
    color: #ffffff; 
    background:#465bbb;
    padding: 30px;
}
.mat-select{
    width: 100%;
    text-align: center;
  }

  