<div class="container">

  <form id="formCreate" [formGroup]="form" (ngSubmit)="verificarCI()" class="example-form">
    <div class="formulario">
      <div class="title"> 
        <h1>Creación de cuentas</h1>
      </div>
      <div class="content">


         <!--Nombres-->
          <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nombre/s</mat-label>
          <input matInput formControlName="nameCtrl" >
        </mat-form-field>
        <p *ngIf="nombreField.errors && nombreField.touched">
          <mat-error *ngIf="nombreField.hasError('required')">
            Nombre es <strong>requerido</strong>
          </mat-error>
        </p>
        <br>

        <!--Apellido paterno-->
               <mat-form-field class="example-full-width" appearance="fill">
                 <mat-label>Apellido paterno</mat-label>
                 <input matInput formControlName="apepatCtrl" >
               </mat-form-field>
               <div *ngIf="apepatField.errors && apepatField.touched">
                 <mat-error *ngIf="apepatField.hasError('required')">
                   Apellido paterno es <strong>requerido</strong>
                 </mat-error>
               </div>
       <br>
        <!--Apellido materno-->
               <mat-form-field class="example-full-width" appearance="fill">
                 <mat-label>Apellido materno</mat-label>
                 <input matInput formControlName="apematCtrl" >
               </mat-form-field>
               <div *ngIf="apematField.errors && apematField.touched">
                 <mat-error *ngIf="apematField.hasError('required')">
                   Apellido materno es <strong>requerido</strong>
                 </mat-error>
               </div>
       <br>
        <!--Sexo-->
               <div class="selectbtn">
               <mat-form-field appearance="fill">
                 <mat-label>Sexo</mat-label>
                 <mat-select formControlName="sexoCtrl">
                   <mat-option *ngFor="let genero of generos" [value]="genero.value" >
                     {{genero.viewValue}}
                   </mat-option>
                 </mat-select>
               </mat-form-field>
               <div *ngIf="sexoField.errors && sexoField.touched">
                 <mat-error *ngIf="sexoField.hasError('required')">
                   Opción <strong>requerida</strong>
                 </mat-error>
       
                
               </div>
                <!--Cargo-->
                &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
               <mat-form-field appearance="fill">
                 <mat-label>Cargo</mat-label>
                 <mat-select formControlName="cargoCtrl">
                   <mat-option *ngFor="let cargo of cargos" [value]="cargo.value">
                     {{cargo.viewValues}}
                   </mat-option>
                 </mat-select>
               </mat-form-field>
               <div *ngIf="cargoField.errors && cargoField.touched">
                 <mat-error *ngIf="cargoField.hasError('required')">
                   Cargo es <strong>requerido</strong>
                 </mat-error>
               </div>
               <br>
             </div>
                <!--CI-->
               <mat-form-field class="example-full-width" appearance="fill">
                 <mat-label>CI</mat-label>
                 <input matInput formControlName="ciCtrl" >
               </mat-form-field>
               <div *ngIf="ciField.errors && ciField.touched">
                 <mat-error *ngIf="ciField.hasError('required')">
                   CI es <strong>requerido</strong>
                 </mat-error>
                 <mat-error *ngIf="ciField.hasError('minlength')">
                   El CI debe <strong>ser numerico</strong>
                 </mat-error>
               </div>
               <!--<button  type="button" (click)="createUser()">Save</button>-->
               <div style=" display: flex;
               align-items: center;
               justify-content: center;">
                 <button mat-flat-button style="background: rgb(30, 116, 27);color: cornsilk;" type="submit"><mat-icon>done_outline</mat-icon> Registrar cuenta</button>
                
               </div><br>
               <div style=" display: flex;
               align-items: center;
               justify-content: center;">
                <a mat-raised-button style="background-color: rgb(235, 55, 11);color: aliceblue;" routerLink="/cuentas"><mat-icon>undo</mat-icon> Cancelar</a>
               </div>
              


      </div>
    </div>
</form> 
      
</div>