
.formulario{
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px;
  background-color: rgb(250, 248, 248);
  box-shadow: 2px 2px 10px rgb(255, 34, 34);
  border-radius: 20px 20px 20px 20px;
}

.title{
  text-align: center;
  color: rgb(233, 19, 19);
  padding-top: 20px;
}

.content{
padding: 10px;
}

.example-full-width {
  width: 100%;
  
}

.container{
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
padding-top: 5%;
}

.selectbtn{
  padding-left: 20%;
}