
<h2>Creacion de cuentas de usuario</h2>

<form method="POST" action="/createUser">
  <label for="fname">Nombre/s:</label><br>
  <input type="text" id="uname" name="uname" value=""><br>

   
  <label for="lname">Apellido paterno:</label><br>
  <input type="text" id="appaterno" name="appaterno" value=""><br><br>


  <label for="lname">Apellido materno:</label><br>
  <input type="text" id="apmaterno" name="apmaterno" value=""><br><br>

  <mat-form-field appearance="fill">
    <mat-label>Sexo: </mat-label>
    <select matNativeControl required name="sexo" id="sexo">
      <option value="M">Masculino</option>
      <option value="F">Femenino</option>
  </select>
  </mat-form-field><br><br>

  <mat-form-field appearance="fill">
    <mat-label>Cargo: </mat-label>
    <select matNativeControl required name="cargo" id="cargo">
      <option value="Periodista">Periodista</option>
      <option value="Operador">Operador</option>
      <option value="Administrador">Administrador</option>
      <option value="Jefe">Jefe de prensa</option>
      <option value="Pasante">Pasante</option>
    </select>
  </mat-form-field><br><br>

<!-- ANGULAR MATERIAL
material
<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi" [(ngModel)]="nombreuser">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</form>

-->

  <label for="lname">Carnet de identidad:</label><br>
  <input type="number" id="ciuser" name="ciuser" value=""><br><br>

  <input type="submit" value="CONFIRMAR" />
</form> 


<!--el bueno-->

<p>
  Email:<br>
  <input type="email" [formControl]="emailCtrl">
</p>