<div id="loginScreen" *ngIf="showLoginScreen">
    <div id="background-blur"></div>
    <div id="container">
        <div id="card">
            <div id="head">
                Radio Compañera
            </div>        
            <div id="body">
                <table class="form-container" cellspacing="0">
                    <tr align="center">
                        <td><mat-form-field class="input-field" appearance="standard">                        
                        <input matInput [(ngModel)] = "id_user" placeholder="Id">
                        </mat-form-field></td>
                    </tr>
                    <tr align="center">                    
                    <td><mat-form-field class="input-field" appearance="standard">                    
                    <input matInput [(ngModel)] = "password" type="password" placeholder="Contraseña">
                    </mat-form-field></td>
                </tr>
                <tr >
                    <td>                        
                        <!--<mat-checkbox class="example-margin" color="primary">Permanecer conectado</mat-checkbox>-->
                    </td>
                </tr>
                <tr align="center">
                    <td>
                        <button mat-raised-button color="radio" (click)="loginIntoPage()">Ingresar</button>
                    </td>                  
                </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<app-barra-lateral [permisos] = "permisos"></app-barra-lateral>