#background-blur{
    position: absolute;
    z-index: 2;
    background: url('../assets/images/background-login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    
}
#container{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.fields{    
    border-radius: 0%;    
}
#card{    
    height: auto;
    min-width: 600px;
    margin-bottom: 55px;
}
#head{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140px;
    background: #D40000;
    color: white;
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-family: fantasy;
    font-size: 40px;
}
#body{
    background: white;   
    width: auto; 
    padding: 20px;
}
td{
    padding: 8px;
}
.input-field{    
    width: 90%;    
    height: auto;
    text-indent: 10px;
    font-size: 18px;    
}
.input-field ::placeholder{
    font-size: 18px;
}

::ng-deep.mat-form-field-ripple {    
    background-color: red !important;;
}
.form-container {        
    margin-right: 10px;
    width: 100%;
}
.mat-radio {
    background-color: red;  
    height:50px !important;
    width:150px !important;  
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    margin: 10px;
}
::ng-deep .mat-checkbox-checked.mat-accent {
    .mat-checkbox-ripple .mat-ripple-element {
        background-color: red !important;
    }

    .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
        background-color: red;
     }
}

mat-form-field mat-label {
    font-size: 20px;
    margin: 10px;
}
mat-icon{
    margin-right: 10px;
    cursor: default;
}
#error{
    font-size: 14px;
    color: #D40000;    
    display: none;
}

@media screen and (max-width: 800px) {
    #card{            
        min-width: 500px;
    }
    #head{
        height: 210px;
    }
    #background-blur{
        filter: blur(0px);
    }
}