
<div class="container">
    <div class="columna1">
        <p class="tit">Registro de actividades <button mat-stroked-button (click)="setDataSource()" style="background-color: rgb(14, 10, 10);color: aliceblue;">    <mat-icon>cached</mat-icon></button></p>
    </div>
    <div class="columna2">
      <mat-form-field class="inputTitle" >
        <mat-label>Filtro por empleado ID / Nombre</mat-label>
        <input  matInput type="text"  [(ngModel)]="valorFiltro">
        <button *ngIf="valorFiltro" matSuffix mat-icon-button aria-label="Clear" (click)="limpiar()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
  
        <button style="margin-left: 10px;background-color: red;color: white;" (click)="DataSourceReportero()" mat-raised-button ><mat-icon>search</mat-icon></button>  
    </div>
    <div class="columna3">
      
      <mat-form-field appearance="fill" class="example-form-field">
        <mat-label>Filtro por fecha</mat-label>
        <input matInput [matDatepicker]="datepicker" [(ngModel)]="fechaFiltro">
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button style="background-color: red;color: white;" (click)="DataSourceFecha()" matDatepickerApply>Filtrar</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>
    </div>
    <div class="columna4">
        <mat-card class="cant" appearance="fill">
            <i> Resultados:     </i><b>&nbsp;&nbsp;&nbsp;{{Cantidad}}</b>
          </mat-card>
    </div>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" >
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            
          
            <!-- id_reportero Column -->
            <ng-container matColumnDef="id_reportero">
              <th class="thr" mat-header-cell *matHeaderCellDef> ID Reportero </th>
              <td mat-cell *matCellDef="let element" >
                <div style="width: 60%; float:left;padding-top: 10px;" id="{{element.id_reportero}}">{{element.id_reportero}}</div>
               
               <div style="width: 40%; float:left">
                <button mat-icon-button (click)="copiarAlPortapapeles(element.id_reportero)">
                  <mat-icon>content_copy</mat-icon>
                </button>
               </div>
                  
              </td>
            </ng-container>
          
            <!-- nombre Column -->
            <ng-container matColumnDef="nombre">
              <th class="thr" mat-header-cell *matHeaderCellDef> Nombre completo </th>
              <td mat-cell *matCellDef="let element"> 

                <div style="width: 70%; float:left;padding-top: 10px;" id="{{element.nombre_completo}}">
                  {{element.nombre_completo}}
               </div>
               
               <div style="width: 30%; float:left">
                <button mat-icon-button (click)="copiarAlPortapapeles(element.nombre_completo)">
                  <mat-icon>content_copy</mat-icon>
                </button>
               </div>

              </td>
            </ng-container>
          
            <!-- cargo Column -->
            <ng-container matColumnDef="cargo">
              <th class="thr" mat-header-cell *matHeaderCellDef> Cargo </th>
              <td mat-cell *matCellDef="let element"> {{element.cargo}} </td>
            </ng-container>
        
            <!-- id_noticia Column -->
            <ng-container matColumnDef="id_noticia">
              <th class="thr" mat-header-cell *matHeaderCellDef> ID Noticia </th>
              <td mat-cell *matCellDef="let element"> {{element.id_noticia}} </td>
            </ng-container>

            <!-- Titulo Column -->
            <ng-container matColumnDef="titulo">
                <th class="thr" mat-header-cell *matHeaderCellDef> Titulo de la noticia </th>
                <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
              </ng-container>
        
             <!-- Fecha Column -->
            <ng-container matColumnDef="fecha_publicacion">
                <th class="thr" mat-header-cell *matHeaderCellDef> Fecha de publicacion </th>
                <td mat-cell *matCellDef="let element"> {{element.fecha_publicacion  | date}} </td>
              </ng-container> 
               <!-- Fechamodi Column -->
            <ng-container matColumnDef="ultima_modificacion">
                <th  class="thr" mat-header-cell *matHeaderCellDef> Ultima modificacion </th>
                <td mat-cell *matCellDef="let element"> {{element.ultima_modificacion  | date}} </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[10, 15, 20]"
                     showFirstLastButtons 
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
      
</div>
  