<!--
<h1>Agregar categoria</h1>
<hr>
<input #categoryInput placeholder="Nombre categoria" autocomplete="off"/>
<br><br>
<button mat-raised-button (click)="addCategory(categoryInput.value)" [mat-dialog-close]="categoryInput.value"> Agregar </button> &nbsp; <button mat-raised-button color="radio" (click)="closeDialog()">Descartar</button>
-->
<h1 style="padding-top:20px"><b>Lista de categorias </b><button mat-raised-button style="background-color: red;color: white;" (click)="showDivAddCategory()">Agregar <mat-icon>add</mat-icon></button>   &nbsp; <button mat-stroked-button (click)="refresh()" style="background-color: rgb(14, 10, 10);color: aliceblue;">    <mat-icon>cached</mat-icon></button></h1>
<table mat-table class="mat-elevation-z8" [dataSource]="dataSource">
    <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id_categoria}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"><span [id]="'sp-'+element.id_categoria">{{element.nombre}}</span> </td>
      </ng-container>

      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">             
            <div class="optionsButtons" [id]="'actions-'+element.id_categoria" *ngIf="element.id_categoria >8">
                <mat-icon (click)="changeToEditName(element.id_categoria)">edit</mat-icon> &nbsp;
                <mat-icon [id]="'deleteButton-'+ element.nombre" (click)="changeToConfirm(element.id_categoria)">delete</mat-icon> 
            </div>
            <div class="confirmButtons" [id]="'confirm-'+element.id_categoria">
                <mat-icon style="color:green" (click)="confirmCheck(element.id_categoria)" >check</mat-icon> &nbsp;
                <mat-icon style="color:red" (click)="cancelConfirm(element.id_categoria)">cancel</mat-icon> 
            </div>            
        </td>
      </ng-container>
      
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div class="addCategory" style="padding-top: 10px; display: none;" id="divAddCategory" >
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nombre de la categoria</mat-label>
    <input matInput [(ngModel)]="nameNewCategory">
  </mat-form-field>&nbsp;
  <button mat-raised-button style="background-color: red;color: rgb(255, 255, 255);" (click)="addCategory(nameNewCategory)">Guardar </button>&nbsp;
  <button mat-raised-button style="background-color: black;color: white;" (click)="cancel()">Cancelar </button>
</div>