*{
    font-size: 20px;
}
.mat-radio{
    background-color: red;
    color: white;
}
input{
    height: 25px;
    font-size: 20px;
}
table {
    width: 1000px;
}
.mat-row:nth-child(even){
    background-color: white;
}
        
.mat-row:nth-child(odd){
    background-color: rgb(236, 236, 236);
}
.example-full-width {
    width: 50%;
    padding-left: 18%;
    padding-top: 10px;
  }
h1 b{
    //font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin: 20px;    
}

.confirmButtons{
    display: none;
}
.confirmButtons mat-icon{
    cursor: pointer;
    font-size: xx-large;
}
.optionsButtons{
    color: rgb(155, 24, 24);
    cursor: pointer
}