.wrapper{        
    grid-template-columns: repeat(auto-fit, minmax(600px,1fr));
    margin: 0;
    height: 87%;
    padding: 25px;
    display: grid;    
    padding: 5px;    
}
.tags{
    font-size: 20px;       
    max-width: fit-content; 
    //border: black solid 1px;
    padding: 5px;
}
.head{    
    max-width: fit-content;    
}
.textEditor{            
    max-width: fit-content;
}
.textEditor button{
    margin: 10px;
}

.categorias{            
    max-width: fit-content;
    font-size: 20px;  
}
.publicar{        
    font-size: 20px;  
    max-width: fit-content;
}
.head input{
    width: 90%;
    height: 40px;
    border-radius: 5px;
    font-size: 25px;
}
.tags input{
    border-radius: 5px;
    height: 25px;
    width: 60%;    
    margin-right: 10px;
}   

.mat-radio{
    background-color: red;
    color: white;
}
mat-selection-list {
    max-height: 300px;
    overflow: auto;
}
  
@media screen and(min-width:837px) {
    .wrapper{
        margin: 0;
        height: 87%;
        padding: 25px;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 70% 30%;    
        grid-template-rows: 15% 10% 55% 15%;    
    }
    .head{        
        max-width: none;
    }
    .textEditor{        
        grid-row: 2/5;
        grid-column: 1/2;
        max-width: none;
    }
    .tags{        
        grid-column: 2/2;
        grid-row: 1/3;  
        max-width: none;        
    }
    .categorias{        
        max-width: none;
    }
    .publicar{        
        grid-column: 2/2;
        max-width: none;
    }
    .head input{
        width: 95%;
        height: 40px;
        border-radius: 5px;
        font-size: 25px;
    }   
}
