<div class="content">
    <div class="formcambiopass">
        <div class="title">
            <p>Cambio de contraseña</p>
        </div>
        <div class="content">
            <div class="actual">
     

            <mat-form-field class="input-field" appearance="standard" style="width: 100%;">                    
                <input matInput   #contraactual placeholder="Contraseña actual"  [type]="hide ? 'password' : 'text'" autocomplete="off">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error>
                    Por favor ingrese una contraseña
                </mat-error>
            </mat-form-field>

            </div>
<div class="new">
            

            <mat-form-field class="input-field" appearance="standard" style="width: 100%;">                    
                <input matInput  #nuevaContrasenia1 placeholder="Nueva contraseña"  [type]="hide ? 'password' : 'text'" autocomplete="off">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error>
                    Por favor ingrese una contraseña
                </mat-error>
            </mat-form-field>

            <mat-form-field class="input-field" appearance="standard" style="width: 100%;">                    
                <input matInput #nuevaContrasenia2 placeholder="Confirmar contraseña"  [type]="hide ? 'password' : 'text'" autocomplete="off">
                <mat-error>
                    Por favor ingrese una contraseña
                </mat-error>
            </mat-form-field>
        </div>
            <div class="botons">
                <button mat-raised-button style="color: white;background-color: black;" (click)="validar(contraactual.value,nuevaContrasenia1.value,nuevaContrasenia2.value)">Guardar cambio</button>&nbsp;&nbsp;&nbsp;
                <button mat-raised-button style="color: rgb(0, 0, 0);background-color: #e00;" (click)="close()"><mat-icon>close</mat-icon></button>        
            </div>                    
        </div>

    </div>
</div>

