table {
    width: 100%;
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 3 / 11; }
    .div2 { grid-area: 3 / 1 / 5 / 4; }
    .div3 { grid-area: 3 / 4 / 5 / 7;  }
    .div4 { grid-area: 3 / 7 / 5 / 11;  }
    .div5 { grid-area: 5 / 1 / 12 / 11; }

p{
  font-size: 20px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-left: 30px;
  padding-top: 20px;
}

.title{
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-left: 30px;
  padding-top: 30px;
  float: left;
}
.busquedatitle{
  float: right;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 30px;
  margin-left: 10px;
}

.inputTitle{
  height: 30px;
  margin-left: 10px;
  padding-left: 20px;
  width: 200px;
}
.pag{
  padding: 30px;
}
.filtrofech{
padding-top: 10px;
}

.filtrocat{
  padding-top: 5px;
}