table {
    width: 100%;
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 11; border-bottom: rgb(255, 0, 0) solid 3px; }
    .div2 { grid-area: 2 / 1 / 3 / 4; border-bottom: rgb(0, 0, 0) solid 3px;}
    .div3 { grid-area: 2 / 4 / 3 / 6; border-bottom: rgb(0, 0, 0) solid 3px;}
    .div4 { grid-area: 2 / 7 / 3 / 11; border-bottom: rgb(0, 0, 0) solid 3px; }
    .div5 { grid-area: 3 / 1 / 12 / 11;}
    .div6 { grid-area: 2 / 6 / 3 / 7; border-bottom: rgb(0, 0, 0) solid 3px;}

p{
  font-size: 20px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-left: 30px;
  padding-top: 30px;
}

.title{
  font-size: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-left: 30px;
  padding-top: 52px;
  float: left;
}
.busquedatitle{
  float: right;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-top: 50px;
  padding-right: 20px;
  margin-left: 10px;
}

.inputTitle{
  height: 30px;
  margin-left: 10px;
  padding-left: 20px;
  width: 200px;
}
.pag{
  padding: 30px;
  padding-top: 50px;
}
.filtrofech{
padding-top: 10px;

}

.filtroper{
  width: 100%;
  padding-top: 5px;
}

.btnFiltro{
  padding-left: 30px;
  padding-top: 20px;
}

.tabla{
  padding: 30px;
}

button{
  background-color: #e00;
  color: white;
}