.title{
    background-color: rgb(212, 3, 3);
    color: white;
    padding: 5%;
}
.botons{
    display: flex;
    justify-content: center;
    position: relative;
}

.texto{
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 30px;
}