
<div class="parent">

    <div class="div1">
        <div class="marco">
            <div mat-card-avatar class="example-header-image">
                <img mat-card-image [src]="fotoperfil || 'https://lh3.googleusercontent.com/bVasjJiEt_qOoymntYLvLmiw_uezpmQeE2O_4Kk-ZQ77bCODt5Lc0vO5Yrl4Cz7GVA'" alt="Radio compañera"></div>
            
            <button id="btnConfirmarFoto"  (click)="confirmarPerfil(this.id_reportero,this.fotoperfil)" style="display: none;" mat-raised-button color="primary">Guardar cambio</button>
        </div>
    </div>

    <div class="div2">
        <p class="datos">CODIGO EMPLEADO:</p>
        <p class="valor">{{id_reportero}}</p>
        <p class="datos">NOMBRE COMPLETO</p>
        <p class="valor">{{nombre_completo}}</p>
        <p class="datos">SEXO:</p>
        <p class="valor">{{sexo}}</p>
        <p class="datos">CI:</p>
        <p class="valor">{{ci}} LP</p>
      
    </div>

    <div class="div3">
        <div class="marcologo">
            <img class="logo" src="../assets/images/radio_logo.jpg"/>
        </div>
    </div>

    <div class="div4">
        <p class="cargo">{{cargo}}</p>
        <P class="nombre">{{nombre_completo}}</P>
    </div>
    <div class="div5">
            <button (click)="mostraropc()" class="btnFloat" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>more_vert</mat-icon>
              </button>
              <div class="opciones" id="opciones" style="display: none;">
                <input type="file" style="display: none;" id="fotoPerfil">
                <p><button class="btnopc" (click)="cargarFotoPerfil()" mat-raised-button>Editar foto</button></p>
                <p><button class="btnopc" (click)="mostrarFormpass()" mat-raised-button>Cambiar contraseña</button></p>
              </div>
    </div>
    <div class="div6">
       


        <div class="tablaPersonal">
          <div class="columna1">
            <p class="tit">Mi registro de actividades <button mat-stroked-button (click)="setDataSource()" style="background-color: rgb(14, 10, 10);color: aliceblue;">    <mat-icon>cached</mat-icon></button></p>
        </div>
         
            <div class="columna3">
              <mat-form-field appearance="fill" class="example-form-field">
                <mat-label>Filtro por fecha</mat-label>
                <input matInput [matDatepicker]="datepicker" [(ngModel)]="fechaFiltro">
                <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                  <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancel</button>
                    <button mat-raised-button style="background-color: red;color: white;" (click)="DataSourceFecha()" matDatepickerApply>Filtrar</button>
                  </mat-datepicker-actions>
                </mat-datepicker>
              </mat-form-field>
            </div>
            <div class="columna4">
              <mat-card class="cantHoy" appearance="fill">
                  <i>Hoy: </i><b>&nbsp;&nbsp;&nbsp;{{CantidadHoy}}</b>
                </mat-card>
          </div>
            <div class="columna4">
                <mat-card class="cant" appearance="fill">
                    <i> Cantidad: </i><b>&nbsp;&nbsp;&nbsp;{{Cantidad}}</b>
                  </mat-card>
            </div>
        
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" >
                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                    <!-- id_noticia Column -->
                    <ng-container matColumnDef="id_noticia">
                      <th class="thr" mat-header-cell *matHeaderCellDef> ID Noticia </th>
                      <td mat-cell *matCellDef="let element"> {{element.id_noticia}} </td>
                    </ng-container>
                  
                   
                
                    <!-- Titulo Column -->
                    <ng-container matColumnDef="titulo">
                        <th class="thr" mat-header-cell *matHeaderCellDef> Titulo de la noticia </th>
                        <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
                      </ng-container>
                
                     <!-- Fecha Column -->
                    <ng-container matColumnDef="fecha_publicacion">
                        <th class="thr" mat-header-cell *matHeaderCellDef> Fecha de publicacion </th>
                        <td mat-cell *matCellDef="let element"> {{element.fecha_publicacion  | date}} </td>
                      </ng-container> 
                       <!-- Fechamodi Column -->
                    <ng-container matColumnDef="ultima_modificacion">
                        <th  class="thr" mat-header-cell *matHeaderCellDef> Ultima modificacion </th>
                        <td mat-cell *matCellDef="let element"> {{element.ultima_modificacion  | date}} </td>
                      </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                             showFirstLastButtons 
                             aria-label="Select page of periodic elements">
              </mat-paginator>
            </div>
              
        </div>
          


    </div>

</div>