<!--
<div class="btnVerDetalles">
  <button mat-raised-button id="btnVer" color="primary" style="display: none;" (click)="mensaje()">Ver detalles</button>
  <!<app-detalles-cuenta style="display: none;" id="detallesComponent"></app-detalles-cuenta>->
  <br><br><br><br><br>
  <div class="datosRescatados" style="display: inline;">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{nom}} {{pater}}</mat-card-title>
              <mat-card-subtitle>{{idReport}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://lh3.googleusercontent.com/bVasjJiEt_qOoymntYLvLmiw_uezpmQeE2O_4Kk-ZQ77bCODt5Lc0vO5Yrl4Cz7GVA" alt="Radio Compañera">
            <mat-card-content>
              <p class="caja">
                Datos de la cuenta creada
              </p>
        
              <h2 class="casillaIzquierda">ID: {{idReport}}</h2>
              <h2 class="casillaDerecha">Contraseña: {{contr}}</h2>
              <br>
              <h2 class="datosSecundarios">Nombre: {{nom}}</h2>
              <h2 class="datosSecundarios">Apellido paterno: {{pater}}</h2>
              <h2 class="datosSecundarios">Apellido materno: {{mater}}</h2>
        
              <h2 class="datosSecundarios">CI: {{ci}}</h2>
              <h2 class="datosSecundarios">Cargo: {{carg}}</h2>
        
            </mat-card-content>
            <mat-card-actions>
                <a mat-button routerLink="/cuentas">Listo!</a>
            </mat-card-actions>
          </mat-card>
</div>
</div>
-->