<div >
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Nombre + Apellido</mat-card-title>
      <mat-card-subtitle>ID DE LA CUENTA</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://lh3.googleusercontent.com/bVasjJiEt_qOoymntYLvLmiw_uezpmQeE2O_4Kk-ZQ77bCODt5Lc0vO5Yrl4Cz7GVA" alt="Radio Compañera">
    <mat-card-content>
      <p class="caja">
        Datos de la cuenta
      </p>

      <h2 class="casillaIzquierda">ID: </h2>
      <h2 class="casillaDerecha">Contraseña:</h2>
      <br>
      <h2 class="casillaIzquierda">Nombre:</h2>
      <h2 class="casillaDerecha">Apellido paterno:</h2>
      <h2 class="casillaIzquierda">Apellido materno:</h2>

      <h2 class="casillaDerecha">Sexo:</h2>
      <h2 class="casillaIzquierda">Cargo:</h2>

    </mat-card-content>
    <mat-card-actions>
        <a mat-button routerLink="/cuentas">Listo!</a>
    </mat-card-actions>
  </mat-card>
</div>