<div class="title">
    <p>Personalización de la pagina <mat-icon>build</mat-icon> </p>	
</div>

<div class="parent">
    <div class="div1"> 
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Titulo de la pagina </mat-label>
            <input matInput>
          </mat-form-field>
    </div>
    <div>
        <div class="div2" style="width: 60%; float:left"> 
            <div style="width: 70%; float:left">
                <div>
                    <div class="marco">
                        <img style="display:block;
                        margin:auto;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTT1BaHFkCLVFudrzI-iLOAhO3NIlBDEEd5W2ige_b4zZsSG72i36qNgwL-Tas1Vl8zjzA&usqp=CAU" alt="logo Radio Compañera">
                    </div>
                </div>
             
             </div>
             
             <div style="width: 30%; float:right">
                <div class="btnImg">
                   <p> <button mat-raised-button style="background-color:#e00;color:white"><mat-icon>add_photo_alternate</mat-icon> Cargar Imagen </button></p></div>
                   <div class="btnImg">
                   <p><button mat-raised-button color="primary" style="background-color:rgb(36, 36, 36);color:white"><mat-icon>delete_outline</mat-icon> Borrar Imagen</button></p></div>
            
             </div>
        </div>
        <div class="div3" style="width: 25%; float:right"> 
            <p style="color: black;font-family: cursive;
            font-size: 30px;">Acciones</p>
        </div>
        <div class="div3v2" style="width: 25%; float:right"> 
            <div class="btnImage"> <button mat-raised-button style="background-color: #e00;color: white;width: 90%;">Guardar cambios</button> </div>
            <div class="btnImage"> <button mat-raised-button style="background-color: rgb(22, 22, 22);color: white;width: 90%;">Restablecer Campos</button> </div>
            
        </div>
    </div>
    
    
    </div>