<div class="card-header">
    <div class="header">
    <p>Bienvenido administrador!</p>
    <button mat-stroked-button (click)="openCreateUser()" style="background-color: #e00;color: aliceblue;"><mat-icon>person_add</mat-icon> Crear cuenta</button>
    &nbsp;&nbsp;&nbsp;
    <button mat-stroked-button (click)="refresh()" style="background-color: rgb(14, 10, 10);color: aliceblue;">    <mat-icon>cached</mat-icon></button>
    
</div>
</div>
<hr>
 <div class="container">
  <mat-tab-group mat-align-tabs="end">
    <mat-tab label="Cartas">
      <div id="tablaCuentas" class="wrapper-grid">
        <div *ngFor="let mensaje of logcuentas; let i = index" >
        
          <div class="parent">
    
            <div class="div1">
              
             <div class="opcCuenta">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="deshabilitar(mensaje.id_reportero)">
                  <mat-icon> person_pin</mat-icon>
                  <span>Más información</span>
                </button>
                <button mat-menu-item (click)="detallescuenta(mensaje.id_reportero)">
                  <mat-icon>cancel</mat-icon>
                  <span>Desahibilar cuenta</span>
                </button>
              </mat-menu>
             </div>
             <p class="cargo">{{mensaje.cargo}}</p>
             <P class="nombre">{{mensaje.nombres}} {{mensaje.apepaterno}} {{mensaje.apematerno}}</P>
    
    
            </div>
            <div class="div2"><img class="imagen" src="https://dpi4fupzvxbqq.cloudfront.net/rfm/uploads/rlogo/300/300_1503525028.jpg" alt="x"></div>
            <div class="div3">
                <p class="datosTarjeta">CODIGO:</p>
                <p class="datosTarjeta">CI:</p>
                <p class="datosTarjeta">ESTADO:</p>
                
            </div>
            <div class="div4">
              <p class="valor">{{mensaje.id_reportero}}</p>
                <p class="valor">{{mensaje.ci}}</p>
                <p class="valor">{{mensaje.habilitada}}</p>
            </div>
            <div class="div5">
              <div >
                <img class="foto" [src]="serverImagen+mensaje.fotoperfil || 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png'"  alt="Image no found">
              </div>
            </div>
          </div>
    
        </div>
    </div>
    </mat-tab>
    <mat-tab label="Lista">
     <app-listacuentas></app-listacuentas> 
    </mat-tab>
  </mat-tab-group>


</div>